/* Стили хедера */
.navbar.bg-primary {
    background-image: none !important;
    background-color: #2d6da7 !important;
}
/* Удаление дефолтного футера */
footer {
    display: none !important;
}

/* Стили для навигационной панели */
.navbar .nav-link {
    color: #F8F9FA !important; /* Цвет текста для навигационной панели */
}

.navbar .nav-link:hover {
    color: #d3d9dA !important; /* Цвет текста при наведении для навигационной панели */
}